@use "../abstracts/" as *;

.header {
  display: grid;
  grid-template-columns: rem(70) 1fr rem(70);
  align-items: center;
  padding-inline: rem(12);
  height: rem(44);
  background: $primary;
  h1 {
    order: 2;
    justify-self: center;
    color: var(--white, $white);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.5px;
  }
  &__left {
    order: 1;
  }
  &__right {
    order: 3;
    justify-self: end;
  }
  // 다중 클래스로 white가 붙을 경우
  &.white {
    background: $white;
    border-bottom: rem(1) solid $primary;
    h1 {
      color: $gray21;
    }
  }
}
