@use "../abstracts/" as *;

.bar-type1 {
  @include bar(line, 1, 14, rgba($white, 0.2), 12);
  .footer & {
    // footer에서만 inline요소로 두겠다.
    display: inline-flex;
    margin-top: rem(15.56);
  }
}

.bar-type2 {
  @include bar(bg, 6, 11, "bu_arrow_right.svg", 8);
  padding-block: rem(21) rem(16);
  color: $gray21;
  font-size: rem(14);
  font-weight: 700;
  letter-spacing: rem(-0.5);
  border-bottom: rem(1) solid $grayea;
  white-space: nowrap;
  .--active {
    color: $primary;
  }
}

.bar-type3 {
  @include bar(bg, 6, 11, "bu_arrow_right.svg", 8);
  li {
    color: $gray4b;
    font-size: rem(14);
    line-height: 14px;
  }
}
