@use "../abstracts/" as *;

// mixin은 함수 인수. map은 객체 ! 데이터..! 같은 값으로 제어할 때내가 정의한 값을 계속 사용..

// map변수
$formSettings: (
  // "key": value,
  "height": rem(40),
  "border": rem(1) solid $grayd7,
  "borderRadius": rem(4),
  "bgColor": $white,
  "paddingInline": rem(12),
  "fontColor": $gray4b,
  "fontSize": rem(14),
  "lineHeight": 1,
  "letterSpacing": rem(-0.5),
  "placeholderColor": $gray4b,
  "disabledBgColor": rgba($gray21, 0.1),
  "readonlyBgColor": rgba($gray21, 0.05)
);

// %form {
//   height: rem(40);
//   border: rem(1) solid $grayd7;
//   box-sizing: border-box;
//   border-radius: rem(4);
//   background-color: $white;
//   padding-inline: rem(12);
//   color: $gray4b;
//   font-size: rem(14);
//   line-height: 100%;
//   letter-spacing: rem(-0.5);
//   &::placeholder {
//     color: $gray4b;
//   }
//   &:disabled {
//     background: rgba($gray21, 0.1);
//   }
//   &[readonly] {
//     background: rgba($gray21, 0.05);
//   }
// }

// map변수를 사용
// form 디자인 정의
%form {
  height: map-get($formSettings, height);
  border: map-get($formSettings, border);
  box-sizing: border-box;
  border-radius: map-get($formSettings, borderRadius);
  background-color: map-get($formSettings, bgColor);
  padding-inline: map-get($formSettings, paddingInline);
  color: map-get($formSettings, fontColor);
  font-size: map-get($formSettings, fontSize);
  line-height: map-get($formSettings, lineHeight);
  letter-spacing: map-get($formSettings, letterSpacing);
  &::placeholder {
    color: $gray4b;
  }
  &:disabled {
    background: rgba($gray21, 0.1);
  }
  &[readonly] {
    background: rgba($gray21, 0.05);
  }
}

// Select 디자인 정의
$selectSettings: (
  "bgUrl": "bg_select.svg",
  "iconPosition": rem(12),
  "bgWidth": 6,
  "paddingInline": 12,
);

.input {
  @extend %form;
  // 만약 height가 50인게 있다면 이렇게 따로 적어주면 됨!
  // @extend %form;은 기본 값으로 들고다니고 특수한 경우에는 따로 이렇게 적어주면 됨
  // .body & {
  //   height: rem(50);
  // }
}

.select {
  // select의 우측여백값 = input의 좌측여백 * 2 + 이미지가로크기;
  $result: map-get($selectSettings, paddingInline) * 2 + map-get($selectSettings, bgWidth);
  // @debug $result; //데이터 확인
  @extend %form;
  @include background(map-get($selectSettings, bgUrl), right map-get($selectSettings, iconPosition) center);
  padding-right: rem($result);
  appearance: none;
  //기본 화살표 없애기
}

// radio와 checkbox가 동일함으로 extend로 정리
%label {
  display: flex;
  gap: 4px;
  align-items: center;
  color: $gray4b;
  font-size: rem(12);
  line-height: 1;
  letter-spacing: rem(-0.5);
}

// [과정1]
// map
// $radioSetting: (
//   "className": ".radio-type1",
//   "offImage": "ico_radio_off.svg",
//   "onImage": "ico_radio_on.svg",
//   "width": rem(24),
//   "height": rem(24),
// );
// $radioSetting2: (
//   "className": ".radio-type2",
//   "offImage": "ico_radio_off.svg",
//   "onImage": "ico_radio_on.svg",
//   "width": rem(24),
//   "height": rem(24),
// );

// @mixin Radio($mapName) {
//   #{map-get($mapName, className)} {
//     @include a11y-hidden;
//     + label {
//       @extend %label;
//       &::before {
//         @include background(map-get($mapName, offImage));
//         content: "";
//         width: map-get($mapName, width);
//         height: map-get($mapName, height);
//       }
//     }
//     &:checked {
//       + label {
//         &::before {
//           @include background(map-get($mapName, onImage));
//         }
//       }
//     }
//   }
// }

// @include Radio($radioSetting);
// @include Radio($radioSetting2);

// [과정2] 상단의 코드를 이렇게 배열로? 정리해줄 수 있음
$radioSetting: (
  1: (
    "className": ".radio-type1",
    "offImage": "ico_radio_off.svg",
    "onImage": "ico_radio_on.svg",
    "width": rem(24),
    "height": rem(24),
  ),
  2: (
    "className": ".radio-type2",
    "offImage": "ico_radio_off.svg",
    "onImage": "ico_radio_on.svg",
    "width": rem(24),
    "height": rem(24),
  ),
);

@mixin Radio($mapName, $index) {
  #{map-get($mapName, $index, className)} {
    @include a11y-hidden;
    + label {
      @extend %label;
      &::before {
        @include background(map-get($mapName, $index, offImage));
        content: "";
        width: map-get($mapName, $index, width);
        height: map-get($mapName, $index, height);
      }
    }
    &:checked {
      + label {
        &::before {
          @include background(map-get($mapName, $index, onImage));
        }
      }
    }
  }
}

@include Radio($radioSetting, 1);
@include Radio($radioSetting, 2);
