@use "../abstracts/" as *;

.list-type1 {
  display: grid;
  gap: rem(8);
  @for $index from 1 through 5 {
    // html class값을 col2를 넣으면 가로 2개, 3넣으면 3개.
    &.col#{$index} {
      grid-template-columns: repeat($index, 1fr);
    }
  }
  &__content {
    display: grid;
    gap: rem(16);
    padding: rem(16);
    border-radius: 0 0 rem(8) rem(8);
    border: rem(1) solid $grayea;
    border-top: none;
  }
}

.category {
  color: $gray33;
  font-size: rem(10);
  line-height: 100%;
  letter-spacing: rem(-0.5);
}

.list-type2 {
  a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(16);
  }
  &__content {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: rem(16);
    .tags {
      align-self: start;
    }
  }
}

.list-type3 {
  &__content {
    display: grid;
    gap: rem(16);
    padding: rem(16);
    border-radius: 0 0 rem(8) rem(8);
    border: rem(1) solid $grayea;
    border-top: none;
  }
}
