@use "../abstracts/" as *;

.tab-type1 {
  display: flex;
  gap: rem(2);

  input {
    @include a11y-hidden;
    &:checked + label {
      @for $index from 1 through 3 {
        &:nth-of-type(#{$index}) {
          @include background("tab_view#{$index}_on.svg");
        }
      }
    }
  }
  label {
    width: rem(32);
    height: rem(32);

    // css코드
    // &:nth-of-type(1) {
    //   @include background("tab_view1_off.svg");
    // }
    // &:nth-of-type(2) {
    //   @include background("tab_view2_off.svg");
    // }
    // &:nth-of-type(3) {
    //   @include background("tab_view3_off.svg");
    // }

    // 상단의 css로 작성한 것을 scss for문으로 변경 시
    @for $index from 1 through 3 {
      &:nth-of-type(#{$index}) {
        @include background("tab_view#{$index}_off.svg");
        // &.--active {
        //   @include background("tab_view#{$index}_on.svg");
        // }
      }
    }
  }
}

.tab-type2 {
  ul {
    display: flex;
  }
  li {
    flex: 1;
  }
  button {
    $offColor: $grayea;
    $onColor: $primary;

    width: 100%;
    padding-block: rem(14);
    color: $gray21;
    font-size: rem(14);
    line-height: rem(14);
    letter-spacing: rem(-0.5);
    background-image: linear-gradient(to bottom, $offColor, $offColor);
    background-size: 100% rem(2);
    background-repeat: no-repeat;
    background-position: bottom;
    &.--active {
      background-image: linear-gradient(to bottom, $onColor, $onColor);
      font-weight: 700;
      color: $onColor;
    }
  }
}

.tab-type3 {
  ul {
    overflow: auto;
    display: flex;
    border-bottom: rem(1) solid $graye1;
  }
  button {
    white-space: nowrap;
  }
  .depth1 {
    padding-inline: rem(6);
    button {
      padding: rem(20) rem(10);
      color: $gray4b;
      font-size: rem(14);
      font-weight: 700;
      line-height: rem(14);
      &.--active {
        color: $primary;
      }
    }
  }
  .depth2,
  .depth3 {
    // extend %로 묶어줘도 상관없음
    padding: rem(16);
    gap: rem(8);
    button {
      padding: rem(10) rem(12);
      border-radius: rem(22);
      border: rem(1) solid $grayea;
      color: $gray4b;
      font-size: rem(12);
      line-height: 100%;
      &.--active {
        border-color: $primary;
        background-color: $primary;
        color: $white;
      }
    }
  }
}
