@use "../abstracts/" as *;

// 데이터로 변경한다면~
// $textType: (
//   1: (
//     "fw": 400,
//     "fs": 12,
//     "lh": 1.4,
//     "ls": -2,
//     "c": $primary,
//   ),
// );

// @mixin textType($varName, $index) {
//   .text-type#{$index} {
//     color: map-get($varName, $index, c);
//     font-size: rem(16);
//     line-height: 100%;
//     letter-spacing: rem(-0.5);
//   }
// }

.text-type1 {
  color: $gray21;
  font-size: rem(16);
  line-height: 100%;
  letter-spacing: rem(-0.5);
}

.text-type2 {
  color: $gray21;
  font-size: rem(14);
  line-height: rem(14);
  letter-spacing: rem(-1);
  &.lg {
    font-size: rem(20);
    line-height: rem(29);
    font-weight: 700;
  }
  .list-type1 & {
    @include ellipsis(2);
    // 말줄임표 2줄로
  }
  .list-type2 & {
    @include ellipsis(2);
    font-size: rem(16);
    line-height: rem(16);
  }
  .list-type3 & {
    @include ellipsis(2);
    font-size: rem(16);
    line-height: rem(16);
  }
}
.text-type3 {
  color: $gray4b;
  font-size: rem(14);
  line-height: rem(24);
  letter-spacing: rem(-0.5);
}
.text-type4 {
  color: $gray21;
  font-size: rem(16);
  line-height: 1.5;
  letter-spacing: rem(-1);
  .list-type5 & {
    @include ellipsis(2);
  }
}

.heading {
  // 다중 클래스에 base가 있을경우
  &.base {
    display: flex;
    align-items: center;
    gap: rem(10);
    color: $gray21;
    font-size: rem(14);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: rem(-0.5);
    &.ico::before {
      content: "";
      width: rem(8);
      height: rem(8);
      border-radius: rem(2);
      background: $primary;
    }
  }
}
