@use "../abstracts/" as *;

.thumbnail {
  overflow: hidden;
  font-size: 0;
  border-radius: rem(8);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    aspect-ratio: 1.79;
    // 가로 세로 종횡비 = 가로 / 세로
    &:hover {
      .list-type1 & {
        transform: scale(1.2);
      }
    }
  }
  .list-type1 & {
    // list-type1에서만
    border-radius: rem(8) rem(8) 0 0;
    img {
      aspect-ratio: none;
    }
  }
  .list-type2 & {
    border-radius: rem(8);
    img {
      aspect-ratio: none;
    }
  }
  .list-type3 & {
    border-radius: rem(8) rem(8) 0 0;
    img {
      aspect-ratio: none;
    }
  }
}
