$imgurl: "../images/";

$eng: "Roboto", sans-serif;
// 영문 roboto

$secondary: #d8b98b;
$primary: #1d4ed8;
$gray56: #565656;
$grayea: #eaeaea;
$graye1: #e1e1e1;
$grayd7: #d7d7d7;
$gray99: #999999;
$grayfa: #fafafa;
$grayc9: #c9c9c9;
$gray4b: #4b4b4b;
$gray21: #212121;
$gray33: #333;
$white: #ffffff;
$white65: rgba(255, 255, 255, 0.6);
$black60: rgba(0, 0, 0, 0.6);
$black40: rgba(0, 0, 0, 0.4);
$black10: rgba(0, 0, 0, 0.1);
$gray66: #666666;
$grayf5: #f5f5f5;
$warning: #f93232;
$shadow1: 8px 8px 16px 0px rgba(0, 0, 0, 0.15);
$shadow2: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
$shadow3: 8px 8px 8px 0px rgba(0, 0, 0, 0.15);
